/* ------------------ GLOBALI ----------------- */
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

i {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: black;
}

ion-icon {
    font-size: 2em;
}

/* -------------------------------------------- */
/* ------------------ HEADER ------------------ */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1% 0 10%;
    box-shadow: 0px 0px 10px 0px gray;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px;
    height: auto;
}

.membership {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 32%;
    height: 33.33%;
}


input {
    border-radius: 25px;
    border: solid 2px black;
    text-align: center;
    font-size: 1.2em;
}

.membership button {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    background-color: #F4511E;
    color: white;
    font-size: large;
    cursor: pointer;
}

/* -------------------------------------------- */
/* ------------------ MAIN -------------------- */
.superContainer {
    display: flex;
}

main {
    width: 75vw;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
}

main ul {
    display: flex;
}

main nav li {
    list-style-type: none;
    padding: 5% 0 1% 2%;
}
main nav a{
    text-decoration-line: none;    
    color: gray;
    font-weight: bold;
}
.reccomendedForYou {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.reccomendedForYou .imgProfile,
.saved img {
    width: 25px;
    height: 25px;
    border-radius: 5px;
}

article {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 25vh;
    padding-top: 7%;
}

.description {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    align-items: center;
}

.description p:first-of-type,
aside p {
    padding-left: 2%;
}

.description p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.description .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.list {
    width: 100%;
}

.description ul,
.saved ul {
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 1.3em;
}

main .description li:first-child,
aside .saved .list li:first-child {
    list-style-type: none;
    padding-left: 0;
}

main .description li,
aside .saved .list li {
    list-style-type: "-";
    padding: 4%;
    font-size: small;
}

main .description button {
    border-radius: 15px;
    padding: 15% 20%;
}

.addOptions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 7%;
}

.description i,
.saved i {
    height: 1em;
    width: 1em;
}

.description i:last-child {
    rotate: 90deg;
}

.reccomendedForYou .imgPreview {
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

/* -------------------------------------------- */
/* ------------------ ASIDE ------------------ */
aside {
    width: 25vw;
    display: flex;
    flex-direction: column;
    padding: 1% 3%;
    border-left: solid 1px gray;
}

/* DISCOVER ----------------------------------- */
.discover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    height: 15em;
}

.discover div {
    display: flex;
    justify-content: center;
}

.discover .logo {
    width: 2em;
    height: auto;
}

.discover button {
    padding: 0.8em 3em;
    border-radius: 30px;
    text-align: start;
    background-color: transparent;
    border: solid 1px black;
}

.discover .twitter:last-of-type {
    margin-right: 10px;
}

.discover .twitter {
    color: #37A1F3;
}

.discover a:last-of-type {
    color: black;
}

/* -------------------------------------------- */
/* RECCOMENDEDTOPICS -------------------------- */
.reccomendedTopics {
    padding-top: 3em;
}

.reccomendedTopics ul,
aside nav ul {
    display: flex;
    flex-wrap: wrap;
}

.reccomendedTopics li,
aside nav li {
    list-style-type: none;
    padding: 2% 3%;
}

.reccomendedTopics button {
    border-radius: 15px;
    text-align: center;
    height: 30px;
    width: auto;
    background-color: rgb(209, 209, 209);
    border: none;
    padding: 5px 10px;
}

/* -------------------------------------------- */
/* FOLLOW ------------------------------------- */
.follow {
    display: flex;
    flex-direction: column;
    padding-top: 3em;
    height: 25em;
}

.toFollow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

.toFollow div {
    display: flex;
}

.toFollow img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.author {
    flex-direction: column;
    padding-left: 10px;
}

.toFollow button {
    padding-right: 10px;
    height: 25px;
    padding: 0 30%;
    border-radius: 20px;
    background-color: transparent;
    border: solid 1px black;
}

/* -------------------------------------------- */
/* SAVED -------------------------------------- */
.saved {
    display: flex;
    flex-direction: column;
    height: 18em;
    justify-content: space-around;
}

.saved div {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}

.saved ul {
    display: flex;
}

.saved a {
    color: #64AA5E;
}

aside nav {
    padding-top: 3em;
}

/* -------------------------------------------- */
hr {
    border: solid 1px rgb(211, 204, 204);
}
/* -------------------------------------------- */